<!DOCTYPE html>
<html lang="ja">
<title>{% block title %}いんすぱいやーBBS{% endblock %}</title>
<body>
{% block content %}{% endblock %}
{% block footer %}
<hr>
<footer>
    <address>
        &copy; Copyright 2016 USAMI Kenta<br>
        <a href="https://github.com/zonuexe/inspire_bbs">InspireBBS</a> is licenced under <a href="http://www.wtfpl.net/"><abbr title="Do What the Fuck You Want to Public License">WTFPL</abbr></a> and/or <a href="http://www.gnu.org/licenses/agpl-3.0.html"><abbr title="GNU Affero General Public License, Version 3">AGPLv3</a>
    </address>
</footer>
{% endblock %}
</html>
